# Dependencias básicas de Sphinx
sphinx
sphinx_rtd_theme  # Tema de Read the Docs

# Extensiones configuradas en conf.py
sphinx-autodoc-typehints  # Soporte para type hints
m2r2  # Soporte para Markdown en Sphinx
sphinx-intl  # Soporte de internacionalización

# No agregamos "sphinx.ext.*" porque ya vienen con Sphinx y no necesitan instalación

